.menu {
    margin-top: 50px;
    max-width: 100%;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left:25px;
    padding:30px;
}



@media screen and (width:660px) {


.menu {
    padding:20px;
    margin-right: 20px;
    
}
}


@media screen and (max-width:360px) {


    .menu {
        
        padding:5px;
        margin-right: 10px;
        
    }
    }